<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ data.title|default("SoloSearch") }}</title>
</head>
<body>
    <header>
        {{ block.getChildHtml('header')|raw }}
    </header>

    <main>
        {{ block.getChildHtml('body')|raw }}
    </main>

    <footer>
        {{ block.getChildHtml('footer')|raw }}
    </footer>
</body>
</html>
